:root {
    --font1: 'Josefin Sans', sans-serif;
    --font2: 'Labrada', serif;
    --font3: 'Prompt', sans-serif;
    --font4: 'Rubik', sans-serif;
    --font5: 'Shantell Sans', cursive;
    --font6: 'Signika Negative', sans-serif;
    --font7: 'Sofia Sans Semi Condensed', sans-serif;
}

.wrapper-add{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-color: #cef3ce ;
}

.wrapper-add .form-add{
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 40rem;
    height: 22rem;
    
}

.wrapper-add .form-add form{
    display:  flex;
    gap: 1rem;
    flex-direction: column;
    font-size: 20px;
    font-family: var(--font1);
    font-weight: 500;
}

.wrapper-add .form-add form .top{
    display: flex;
    height: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper-add .form-add form .top .word{ 
    display: flex;
    gap: 2px;
}

.wrapper-add .form-add form .top .limit{
    color: red;
    display: none;
}

.wrapper-add .form-add form .top .after{
    display: block;
}

.wrapper-add .form-add form textarea{
    border-radius: 10px;
    font-family: var(--font1);
    resize: none;
    padding: 10px;
    background-color: #97fc97;
    border: 2px solid #ABFAA9;
    font-size: 20px;
}

.wrapper-add .form-add form textarea:focus{
    transition: 0.2s;
    border: 1px solid #ABFAA9;
}

.wrapper-add .form-add form button{
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    background-color: #1D4E04;
    color: #efefef;
    font-family: var(--font3);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.wrapper-add .form-add form button:hover{
    background-color: #53e953;
    transform: scale(1.02);
}