:root {
    --font1: 'Josefin Sans', sans-serif;
    --font2: 'Labrada', serif;
    --font3: 'Prompt', sans-serif;
    --font4: 'Rubik', sans-serif;
    --font5: 'Shantell Sans', cursive;
    --font6: 'Signika Negative', sans-serif;
    --font7: 'Sofia Sans Semi Condensed', sans-serif;
}